apiVersion: apps/v1
kind: Deployment
metadata:
    name: collector-api
    namespace: collector
    labels:
        app: collector-api
spec:
    replicas: 2
    selector:
        matchLabels:
            app: collector-api
    template:
        metadata:
            labels:
                app: collector-api
        spec:
            containers:
                - name: collector-api
                  image: rg.fr-par.scw.cloud/bloc-3-indiv/collector-api:ab6301354ac27b0df04bef2f67be05541683301c
                  imagePullPolicy: Always # Use local Minikube image
                  ports:
                      - containerPort: 8000
                  envFrom:
                      - configMapRef:
                            name: collector-config
                  env:
                      - name: POSTGRES_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: collector-secret
                                key: POSTGRES_PASSWORD
                      - name: SECRET_KEY
                        valueFrom:
                            secretKeyRef:
                                name: collector-secret
                                key: SECRET_KEY
                  readinessProbe:
                      httpGet:
                          path: /docs
                          port: 8000
                      initialDelaySeconds: 10
                      periodSeconds: 5
                  livenessProbe:
                      httpGet:
                          path: /docs
                          port: 8000
                      initialDelaySeconds: 15
                      periodSeconds: 10
                  resources:
                      requests:
                          memory: "256Mi"
                          cpu: "500m"
                      limits:
                          memory: "512Mi"
                          cpu: "1000m"

---
apiVersion: v1
kind: Service
metadata:
    name: collector-api
    namespace: collector
spec:
    type: ClusterIP
    selector:
        app: collector-api
    ports:
        - port: 8000
          targetPort: 8000

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
    name: collector-api-hpa
    namespace: collector
spec:
    scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: collector-api
    minReplicas: 2
    maxReplicas: 10
    metrics:
        - type: Resource
          resource:
              name: cpu
              target:
                  type: Utilization
                  averageUtilization: 80
