apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
    name: letsencrypt-prod
spec:
    acme:
        server: https://acme-v02.api.letsencrypt.org/directory
        email: "admin@celianhamon.fr"
        privateKeySecretRef:
            name: letsencrypt-prod
        solvers:
            - http01:
                  ingress:
                      class: traefik
                      ingressTemplate:
                          metadata:
                              annotations:
                                  traefik.ingress.kubernetes.io/router.entrypoints: "web,websecure"
                                  traefik.ingress.kubernetes.io/router.tls: "true"
